DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=arjanburger_os
DB_USER=root
DB_PASS=

DEPLOY_SECRET=wijzig_dit_naar_een_random_string

API_BASE=http://127.0.0.1:18093/api/public
FLOW_DOMAIN=http://127.0.0.1:18093/flow/public
